{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
  
  </head>
  
  <body>
   
  <div class="container">
    <div class="card border-success bg-dark mb-3">
      <div class="card-header text-white border-success text-center">Weather App</div>
      <div class="card-body text-success text-white">
        <h2 class="card-title">City: {{name}}</h2>
        <p class="card-text">Temperature: {{temp}}</p>
        <p class="card-text">Feels like: {{feels_like}} </p>
        <p class="card-text">Humidity: {{humidity}} </p>
        <p class="card-text">Description: {{description}} </p>
      </div>
      <div class="card-footer border-success">
        <form class="form-inline" method="post" class="col-md"">
          {% csrf_token %}
        <input  type="text" name="city" placeholder="Search...">
        <button type="submit" class="btn btn-outline-light">Search</button>
      </form>
      </div>
    </div>
  </div>

    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>


